# customized

app/Models/Laravel
app/Models/SaaS
!app/Models/SaaS/Person.php

# generated

app/Models/Laravel/Base
app/Models/SaaS/Base
database/migrations
￼!database/migrations/2014_10_12_000000_create_users_table.php
￼!database/migrations/2014_10_13_000000_change_password_users_table.php
￼!database/migrations/2019_09_08_154747_create_password_resets_table.php
￼!database/migrations/2019_08_19_000000_create_failed_jobs_table.php

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
